.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;

  &__inputs{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 50px;
    grid-auto-flow: row;
  }
}
